/* General Settings */
.architecture{
    padding-top: 3.5rem;
    background-color: black;
    color: white;

    font-family: 'IBM Plex Sans';
    font-style: normal;
}

.wadah.arc{
    padding: 0px 7.887%;
    width: 100%;
}

.np{
    padding: 0;
}

/* Architecture Title */
.archi--title{
    font-weight: 600;
    font-size: 2rem;
    line-height: 42px;

    margin-top: 4rem;
    margin-bottom: 0;
}

.archi--title--loc{
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;

    margin-bottom: 1.5rem;
}

/* Landing Image */
.archi--landing > img{
    width: 100%;
    margin-bottom: 1.5rem;
}

/* Description PJN 063 */
.pjn--063{
    font-weight: 600;
    font-size: 1rem;
    line-height: 21px;

    margin-bottom: 1.5rem;
}

.d1--up{
    width: 20rem;
    margin-bottom: 0.5rem;
}

.d1--up--tb1{
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
}

.d1--bot--desc{
    max-width: 38rem;
    padding-right: 0.75rem;
}

/* Description 1 Image */
.wp--arrow{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    top: 10%;
    left: -23%;
}

.wp--arrow--sm1{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    width: 10.5rem;

    top: 0%;
    left: 35%;
}

.desc1--left--sm1{
    margin-bottom: 4rem;
}

/* Paragraph */
.long--para{
    text-align: left;

    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

/* Paragraph Button */
.para--more--btn{
    background-color: transparent;
    border: none;

    color: rgba(126, 175, 21, 1);
    font-size: 0.75rem;
}

 .dd.iconify{
    font-size: 1rem;
    color: rgba(126, 175, 21, 1);

    transform: scaleY(1);
    margin-right: 0.75rem;
}

/* Image List */
.archi--list{
    width: 100%;
}

.skip{
    margin-bottom: 1.5rem;
}

.skip2{
    margin-bottom: 4rem;
}

/* Another Project */
.another--archi--title{
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;

    margin-bottom: 1.5rem;
}

.archi--card--holder{
    width: 100%;

    margin-bottom: 5.5rem;
}

.archi--card.left{
    margin-right: 1.25rem;
}

.archi--card.right{
    margin-left: 1.25rem;
}

.another--archi--img{
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    transition: 0.7s;
}

.another--archi--img:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

@media only screen and (max-width:1200px){
    .white--print{
        width: 100%;
    }

    .wp--arrow{
        width: 8rem;
        left: -23%;
    }
    
}

@media only screen and (max-width:992px) {
    .d1--up{
        width: 30rem;
    }

    .d1--bot--desc{
        max-width: 100%;
        padding: 0%;
    }

    .white--print.hidden{
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .long--para{
        margin-bottom: 0.5rem;
    }
    
    .more{
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width:576px){

    .archi--title{
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;

        margin-top: 3rem;
        margin-bottom: 0.5rem;
    }

    .d1--up{
        width: 15.5rem;
    }

    .d1--up--tb1{
        font-size: 0.875rem;
    }

    .d1--bot--desc{
        font-size: 0.875rem;
    }

    .archi--desc1{
        margin-bottom: 0.5rem;
    }


    .long--para{
        font-size: 0.875rem;
    }

    .archi--card--holder{
        margin-bottom: 4rem;
    }

    .archi--card.left{
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .archi--card.right{
        margin-left: 0;
        margin-top: 1rem;
    }

    .archi--para--holder{
        display: none;
        font-size: 00.875rem;
    }

    .archi--para--holder.rev{
        display: flex;
    }

    .skip2{
        margin-bottom: 3rem;
    }

    .desc1--left--sm1{
        margin-bottom: 3rem;
    }
}