/* General Settings */
.contact{
    height: 100vh;
    width: 100%;

    background-color: black;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    color: #FFFFFF;

    padding-top: 3.5rem;
}

.wadah.cont{
    padding: 0px 7.887%;
    width: 100%;
}

.nm{
    margin: 0;
}

/* Contact Form */
.cont--form{
    background: #0C0C0C;
    border: 1px solid rgba(255, 255, 255, 0.5);

    padding: 0rem 1.5rem;
}

.cont--label{
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;

    margin-bottom: 0.5rem;
}

.cont--form.name{
    display: flex;
    justify-content: left;
    align-items: center;

    height: 4rem;
    width: 100%;

    margin-bottom: 2rem;
    color: #FFFFFF;
}

.cont--form.name:focus-visible{
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.cont--form.massage{
    display: flex;
    justify-content: left;

    height: 12rem;
    width: 100%;

    padding-top: 1rem;
    margin-bottom: 2rem;
    color: #FFFFFF;
}

/* Contact Button */
.cont--btn{
    background: #0C0C0C;
    border: 1px solid #FFFFFF;
    height: 3rem;
    width: 7.313rem;
    transition: 0.7s;
}

.cont--btn a{
    color: #FFFFFF;
    text-decoration: none;

    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cont--btn .iconify{

    width: 1.5rem;
    height: 1.5rem;

    margin-right: 0.5rem;
}

.cont--btn:hover{
    width: 10rem;
    background-color: rgba(126, 175, 21, 1);
    color: black;
    border: none;

}

/* Contact Arrows */
.cont--arrow1{
    position: absolute;

    top: 45%;
    right: 10%;

    transform: translate(-50%, -50%);
}

.cont--arrow2{
    position: absolute;

    bottom: -20%;
    right: 5%;

    transform: translate(-50%,-50%);
}

@media only screen and (max-width:1200px){
    /* Gambar Contact */
    .contact--cu{
        width: 100%;
    }

    .cont--arrow1{
        right: 5%;
    }

    .cont--arrow2{
        bottom: -25%;
        right: 0%;
    }
}


@media only screen and (max-width:992px) {
    /* General Settings */
    .contact{
        height: 100%;
        padding-top: 10vh;
    }

    /* Contact Button */
    .cont--btn{
        background-color: rgba(126, 175, 21, 1);
        border: none;
        height: 3rem;
        width: 100%;
        transition: 0.7s;
        color: #FFFFFF;

        margin-bottom: 3rem;
    }

    .cont--btn:hover{
        width: 100%;
    }

    .hid--holder{
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    
    /* Gambar Contact */
    .contact--cu{
        width: auto;
        margin-bottom: 1.5rem;
    }

    .cont--arrowhid{
        margin-left: 1rem;
    }

}

@media only screen and (max-width:576px){
    .contact--cu{
        width: 75%;
        margin-bottom: 1.5rem;
    }

    .cont--arrowhid{
        margin-left: 0.5rem;
    }

    .cont--title.hid{
        font-size: 2rem;
    }
}