.footer{
    background-color: #7EAF15;
    padding: 1.5rem 7.5rem;
}

#footerporto
{
    margin-top: 88px;
}

.footer .icons ul{
    margin: 0;
    padding: 0;
}

.footer .icons ul li{
    list-style: none;
}

.footer .icons ul li > a{
    color: black;
}

.footer .icons ul li .iconify{
    font-size: 1.5rem;
}

@media only screen and (max-width:992px) {
    .footer{
        padding: 1.5rem 4rem;
    }

    .footer .icons ul li .iconify{
        font-size: 1.125rem;
    }
}