

.header .banner1
{

}
.header .banner1 img
{
    width: 100%;
    height: auto;
}
.header .wrapbanner23
{

}
.header .wrapbanner23 .banner2 img
{
    width: 100%;
    height: auto;
}
.header .wrapbanner23 .banner2
{
    top: -150px;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.header .wrapbanner23  .banner3
{
    margin: 0px;
    padding: 0px;
}
.header .wrapbanner23  .banner3 img
{
    width: 100%;
    height: auto;
}

.header .banner4 img
{
    width: 100%;
    height: auto;
}
.header .banner4
{
    position: relative;
    top: -428px;
}

.header .banner5 img
{
    width: 100%;
    height: auto;
}
.header .banner6 img
{
    width: 100%;
    height: auto;
}
.header .banner7 img
{
    width: 100%;
    height: auto;
}
.header .banner8 img
{
    width: 100%;
    height: auto;
}

.header .wrapbanner678
{
    position: relative;
    top: -450px;
}

