

.header .banner1
{

}
.header .banner1 img
{
    width: 100%;
    height: auto;
}
.header .wrapbanner23 .banner2 img
{
    width: 100%;
    height: auto;
}
.header .wrapbanner23 .banner2
{
    margin-top: -150px;
}
.header .wrapbanner23 .headernum
{
    position: absolute; 
    width: 65.9vw; 
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 4;
    margin-top: -150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .wrapbanner23 .headnumber span
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;

}
.header .wrapbanner23 .headnumber h5
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
}
.header .wrapbanner23 #headnum1
{
    margin-right: 48px;
}
.header .wrapbanner23  .banner3
{
    margin-bottom: -200px;
    padding: 0px;
}
.header .wrapbanner23  .banner3 img
{
    width: 100%;
    height: 117vh;
}

.header .banner4 img
{
    width: 100%;
    height: auto;
}
.header .wrapbanner45 .life
{
    width: 65.9vw; 
    position: absolute;
    margin-bottom: 618px;
    z-index: 5;
}
.header .wrapbanner45 .life .arrowcircle img
{
    width: 122.51px;
    height: 107.82px;
    margin-left: 150px;
}
.header .wrapbanner45 .life .change
{
    position: absolute;
    margin-right: -320px;
    margin-top: 60px;
}
.header .wrapbanner45 .life .change h1
{
    font-family: 'Uni Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}
.header .wrapbanner45
{
    margin-top: -400px;
}


.header .banner4
{
    margin-top: 0px;
}

.header .banner5 img
{
    width: 100%;
    height: auto;
}
.header .banner6 .award
{
    position: absolute;
    width: 49.6vw;
    margin-top: 80px;
}
.header .banner6 .award .wrapaward
{
    margin-left: 196px;
}
.header .banner6 .award .awardline img
{
    width: 179.65px;
    height: 37.21px;

}
.header .banner6 .award .awardtext h1
{
    font-family: 'Uni Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;

}
.header .banner6 img
{
    width: 100%;
    height: auto;
}
.header .banner7 img
{
    width: 100%;
    height: 61vh;
}
.header .banner8 img
{
    width: 100%;
    height: 62.4vh;
}
.header .banner6
{
    z-index: 2;
}
.header .banner7
{
    margin-left: -20px;
    margin-bottom: -10px;
    z-index: 1; 
}
.header .banner8
{
    margin-left: -20px;
    margin-bottom: -40px;
    z-index: 1; 
}
.header .wrapbanner678
{
    margin-top: -3px;
}


.header .headertext .wrap-design .design h1
{
    font-family: 'Uni Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    text-shadow: 1px 1px  black;
}

.header .headertext .wrap-design .design
{
    margin-left: 50px;

}

.header .headertext .wrap-design .design .hit a
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    top: 1px;
}
.header .headertext .wrap-design .design .hit
{
    margin-top: 24px;
    width: 155px;
    height: 48px;    
    background: rgba(12, 12, 12, 0.5);
    border: 1px solid #FFFFFF;
    transition: 0.5s;
}
.header .headertext .wrap-design .design .hit:hover
{
    width: 171px;
    background: #7EAF15;
    animation: 0.5s;
}


.header .wrapbanner45 .life .change .learn a
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    top: 1px;
}
.header .wrapbanner45 .life .change .learn
{
    margin-top: 24px;
    width: 155px;
    height: 48px;    
    background: rgba(12, 12, 12, 0.5);
    border: 1px solid #FFFFFF;
    transition: 0.5s;
}
.header .wrapbanner45 .life .change .learn:hover
{
    width: 171px;
    background: #7EAF15;
    animation: 0.5s;
}