/* .header{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;

    border-bottom: 1px solid rgba(255, 255, 255, 0.5);;
}

.banner--overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);

    height: 100vh;
    width: 100%;
} */

.header .banner1 img
{
    width: 100vw;
    height: auto;
}

.header .banner2 img
{
    width: 100%;
    height: auto;
}
.header .banner2
{
    top: -150px;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.header .banner3
{
    margin: 0px;
    padding: 0px;
}
.header .banner3 img
{
    width: 100%;
    height: auto;
}

.header .banner4 img
{
    width: 100%;
    height: auto;
}
.header .banner4
{
    position: relative;
    top: -600px;
}



/* .header table .banner1 .wrapimg1
{
    width: 100vh;
}
.header table .banner1 .wrapimg1 img
{
    width: 100%;
    height: auto;
}
.header table .banner2
{
    width: 50px;
    background-color: brown;
}
.header table .banner3
{
    background-color: blue;
}
.header table .banner2 img
{
    width: 59.375vw;
    height: auto;
}
.header table .banner3 img
{
    width: 100%;
    height: auto;
} */