

.header
{
    margin-top: -100px;
}

.header .banner1 img 
{
    width: 100%;
    height: auto;
}
.header .wrapbanner23 .banner2 img
{
    width: 100%;
    height: 59.5vh;
}
.header .wrapbanner23 .banner2 #banner3
{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.10);
}
.header .wrapbanner23 .banner2 #banner2
{
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.header .wrapbanner23 .banner2
{

    margin-top: 0px;
}
.header .wrapbanner23 .banner2 .change .life .see .iconify
{
    font-size: 3vh;
}
.header .wrapbanner23 .banner2 .change .life .see a
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vh;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
}
.header .wrapbanner23 .banner2 .change .life .see
{
    width: 11.197916666666666vw;
    height: 6.648199445983379vh;
    background: rgba(12, 12, 12, 0.5);
    border: 1px solid #FFFFFF;
    transition: 0.5s;
    margin-top: 10vh;
    position: absolute;
}

.header .wrapbanner23 .banner2 .change .life .see:hover
{
    width: 12vw;
    background: #7EAF15;
    border: 1px solid #7EAF15
}
.header .wrapbanner23 .banner2 .change .life .see:hover a
{
    color: black;
}

.header .wrapbanner23 .banner2 .change .life
{
    margin-left: 8vw;
}
.header .wrapbanner23 .banner2 .change
{
    position: absolute; 
    margin-top: 64vh; 
    width: 50%;
}
.header .wrapbanner23 .banner2 .change img
{
    position: absolute; 
    width: 7.975911458333333vw;
    height: 12.930747922437673vh;
    margin-left: 17vw;
    margin-top: -2.1vh;
}
.header .wrapbanner23 .banner2 .change h1
{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    font-size: 6vh;
    color: #FFFFFF;
    position: absolute;
}
.header .design .textdesign .headernum
{

    margin-top: 48px;
}

.header .design .textdesign .headnumber span
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;

}
.header .design .textdesign .headnumber h5
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
}
.header .design .textdesign #headnum1
{
    margin-right: 48px;
}


.header .wrapbanner23  .banner45 img
{
    width: 100%;
    height: 119vh;
}

.header .wrapbanner23  .banner45 #banner4
{
    border-top: 0.5px solid rgba(255, 255, 255, 0.10);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.10);
}

.header .wrapbanner23  .banner45 .arrow2 
{
    position: absolute;
    margin-left: 19vw;
    margin-top: -20vh;
}
.header .wrapbanner23  .banner45 .arrow2 img
{
    width: 24vw;
    height: 35vh;
}

.header .wrapbanner567 .banner5 .wrapaward
{
    position: absolute;
    width: 50%;
    margin-top: 11vh;
}
.header .wrapbanner567 .banner5 .wrapaward .award .learn
{
    width: 11vw;
    height: 6.6vh;
    background: rgba(12, 12, 12, 0.5);
    border: 1px solid #FFFFFF;
    transition: 0.5s;
}
.header .wrapbanner567 .banner5 .wrapaward .award 
{
    margin-left: 7.8vw;
}
.header .wrapbanner567 .banner5 .wrapaward .award .learn:hover
{
    width: 12vw;
    background: #7EAF15;
    border: 1px solid #7EAF15
}
.header .wrapbanner567 .banner5 .wrapaward .award .learn:hover a
{
    color: black;
}
.header .wrapbanner567 .banner5 .wrapaward .award .learn a
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vh;
    line-height: 21px;
    color: #FFFFFF;
    transition: 0.5s;
    text-decoration: none;
}

.header .wrapbanner567 .banner5 .wrapaward .award .learn .iconify
{
    font-size: 3.3vh;
}

.header .wrapbanner567 .banner5 .wrapaward .award h1
{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    font-size: 6vh;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header .wrapbanner567 .banner5 .wrapaward .arrowarsitek
{
    position: absolute;
}
.header .wrapbanner567 .banner5 .wrapaward .arrowarsitek img
{
    width: 6.47vw;
    height: 17vh;
    margin-left: 24vw;
    margin-top: 2vh;
}
.header .wrapbanner567 .banner5 img
{
    width: 100%;
    height: 122.6vh;
    
}

.header .wrapbanner567 .banner67 img
{
    width: 100%;
    height: 61.3vh;
}

.header .wrapbanner567 .banner67 .arsitek
{
    position: absolute;
    margin-top: 66vh;
    margin-left: 2.6vw;
}

.header .wrapbanner567 .banner67 .arsitek .ture
{
    width: 11vw;
    height: 6.6vh;
    background: rgba(12, 12, 12, 0.5);
    border: 1px solid #FFFFFF;
    transition: 0.5s;
}

.header .wrapbanner567 .banner67 .arsitek .ture a
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vh;
    line-height: 21px;
    color: #FFFFFF;
    transition: 0.5s;
    text-decoration: none;
}
.header .wrapbanner567 .banner67 .arsitek .ture .iconify
{
    font-size: 3.3vh;
}

.header .wrapbanner567 .banner67 .arsitek .ture:hover
{
    width: 12vw;
    background: #7EAF15;
    border: 1px solid #7EAF15
}

.header .wrapbanner567 .banner67 .arsitek .ture:hover a
{
    color: black;
}





.header .headertext .wrap-design .design h1
{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    font-size: 6vh;
    color: #FFFFFF;
    text-shadow: 16px 16px 8px rgba(0, 0, 0, 0.08);
}
.header .headertext .wrap-design 
{
    margin-top: -24vh;
}
.header .headertext .wrap-design .design
{
    margin-left: 6vw;

}
.header .headertext .wrap-design .design .hit .iconify
{
    font-size: 3vh;
}
.header .headertext .wrap-design .design .hit a
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vh;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    top: 1px;
}
.header .headertext .wrap-design .design .hit
{
    margin-top: 24px;
    width: 10vw;
    height: 6vh;    
    background: rgba(12, 12, 12, 0.5);
    border: 1px solid #FFFFFF;
    transition: 0.5s;
}
.header .headertext .wrap-design .design .hit:hover
{
    width:11vw;
    background: #7EAF15;
    border: 1px solid #7EAF15;
    animation: 0.5s;
}
.header .headertext .wrap-design .design .hit:hover a
{
    color: black;
}



/* responsive */
.header-mobile .wrap-m .m1 .we-m h1
{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 10vh;
    line-height: 10vh;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 62%;
    position: relative;
    margin-left: 5vh;

}
.header-mobile .wrap-m .m1 .we-m
{
    position: absolute; 
    margin-bottom: 10vh;

}

.header-mobile .wrap-m .m1 .we-m .panahwe
{
    position: relative; 
    margin-top: -100px; 
    top: 11.3vh;
    margin-left: 20vw;
}

.header-mobile .wrap-m .m2 .num-m
{
    position: absolute;
}
.header-mobile .wrap-m .m2 .num-m .headnum-m
{
    margin-bottom: 9vh;
    margin-top: 9vh;
    margin-left: 4vw;
}

.header-mobile .wrap-m .m2 .num-m .headnum-m span
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 10vh;
    line-height: 10vh;
    color: #FFFFFF;

}

.header-mobile .wrap-m .m2 .num-m .headnum-m h5
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 7vh;
    line-height: 7vh;
    color: #FFFFFF;
    margin-left: 1vw;
}


.header-mobile .wrap-m .m3 .hit-m
{
    width: 100%;
    position: absolute;
    margin-bottom: 20vh;
}

.header-mobile .wrap-m .m3 .hit-m .up-m
{
    width: 70%;
    height: 20vh;
    background: #7EAF15;
}
.header-mobile .wrap-m .m3 .hit-m .up-m a
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 5vh;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    position: relative;
    top: 2px;
}
.header-mobile .wrap-m .m3 .hit-m .up-m .iconify
{
    font-size: 7vh;
    margin-right: 2vh;
}


.header-mobile .wrap-m .m4 .change-m
{
    position: absolute;
    margin-bottom: 150vh;
}

.header-mobile .wrap-m .m4 .change-m h1
{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 10vh;
    line-height: 48px;
    text-transform: uppercase;
    position: relative;
    color: #FFFFFF;
}

.header-mobile .wrap-m .m4 .change-m .bulet
{
    width: 25vw;
    height: 20vh;
    margin-top: -100px;
    position: relative;
    top: 90px;
    margin-left: 37vw;
}

.header-mobile .wrap-m .m4 .change-m .arsi
{
    width: 25vw;
    height: 20vh;
    margin-top: -100px;
    position: relative;
    top: 140px;
    margin-left: 40vw;
}

.header-mobile .wrap-m .m4 .see-m
{
    position: absolute;
    width: 70%;
    height: 20vh;
    background: #7EAF15;
    margin-bottom: 20vh;
}
.header-mobile .wrap-m .m4 .see-m  a
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 5vh;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    position: relative;
    top: 2px;
}
.header-mobile .wrap-m .m4 .see-m  .iconify
{
    font-size: 7vh;
    margin-right: 2vh;
}

@media only screen and (max-width:992px)
{
    .header-mobile .wrap-m
    {
        margin-top: 7vh;
    }

    .header-mobile .wrap-m .m1 .we-m
    {
        margin-bottom: 3.3vh;
 
    }

    .header-mobile .wrap-m .m1 .we-m h1
    {
        width: 63%;
        font-size: 3.4vh;
        line-height: 3.4vh;
        margin-left: 3.3vh;
    }

    .header-mobile .wrap-m .m1 .we-m .panahwe
    {
        width: 164px;
        height: 45.03px;
        margin-top: -120px; 
    }

    .header-mobile .wrap-m .m2 .num-m .headnum-m span
    {
        font-size: 3.3vh;
        line-height: 3.3vh;
    }
    
    .header-mobile .wrap-m .m2 .num-m .headnum-m h5
    {
        font-size: 1.9vh;
        line-height: 1.9vh;
        margin-top: 10px;
    }    

    .header-mobile .wrap-m .m2 .num-m .headnum-m
    {
        margin-bottom: 1vh;
        margin-top: 1vh;
        margin-left: 4vw;
    }
    


    .header-mobile .wrap-m .m3 .hit-m
    {
        margin-bottom: 5vh;
    }

    .header-mobile .wrap-m .m3 .hit-m .up-m
    {
        width: 90%;
        height: 8vh;
    }

    .header-mobile .wrap-m .m3 .hit-m .up-m a
    {
        font-size: 2.7vh;
    }

    .header-mobile .wrap-m .m3 .hit-m .up-m .iconify
    {
        font-size: 4vh;
        margin-right: 0;
        position: relative;
        bottom: 2px;
    }




    .header-mobile .wrap-m .m4 .change-m
    {
        margin-bottom: 47vh;
    }
    

    .header-mobile .wrap-m .m4 .change-m h1
    {
        font-size: 4.43vh;
    }

    .header-mobile .wrap-m .m4 .change-m .bulet
    {
        width: 25vw;
        height: 20vh;
        margin-top: -100px;
        position: relative;
        top: 87px;
        margin-left: 55vw;
    }

    .header-mobile .wrap-m .m4 .change-m .arsi
    {
        width: 20vw;
        height: 15vh;
        margin-top: -100px;
        position: relative;
        top: 110px;
        margin-left: 50vw;
    }

    .header-mobile .wrap-m .m4 .see-m
    {
        margin-bottom: 5vh;
        width: 90%;
        height: 8vh;
    }

    .header-mobile .wrap-m .m4 .see-m a
    {
        font-size: 2.7vh;
    }

    .header-mobile .wrap-m .m4 .see-m  .iconify
    {
        font-size: 4vh;
        margin-right: 0;
        position: relative;
        bottom: 1px;
    }

}


/* end responsive */