/* General Settings */
.navbar{
    background-color: black;
    padding: 1.375rem 7.5rem;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

.navbar .navbar-nav .nav-item .nav-link{
    color: white;
    padding: 0rem;
}

/* Middle Navigation Settings */
.navbar .navbar-nav.mid{
    gap: 3rem;
}

.navbar .navbar-nav.mid .nav-item .nav-link.active1{
    font-weight: 600;
    color: rgba(126, 175, 21, 1);
}

/* Right navigation Settings */

.navbar .navbar-nav.right{
    gap: 0.5rem;
}

.navbar .navbar-nav.right .nav-item .nav-link.active2{
    font-weight: 600;
}