.project .villa .tit .gariskiri
{
    border: 1px solid #7EAF15;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    width:  30%;
}

.project .villa .tit .gariskanan
{
    border: 1px solid #7EAF15;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    width:  30%;
}

.project .villa .tit .tit1 h1
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 300%;
    line-height: 42px;
    color: #7EAF15;
    /* margin-right: 88px;
    margin-left: 88px; */
}

.project .villa .allvilla .ubud
{
    margin-bottom: 48px;
    width: 100%;
    display: none;
}
.project .villa .allvilla .ubud .villatext .villatext2
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
} 
.project .villa .allvilla .ubud .villatext .villatext1 span 
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 32px;
}
.project .villa .allvilla .ubud .villatext .villatext1 span p
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 32px;
}
.project .villa .allvilla .button
{
    /* width: 32px;
    height: 32px;
    background-color: #272727; */

    width: 100%;
    margin-top: 28px;
    margin-bottom: 28px;
}

.project .villa .allvilla .button button
{
    border: none;
    width: 32px;
    height: 32px;
    background-color: #272727;
	color: inherit;
	border: none;
	padding: 0;
    color: white;
    display: flex;
    font-size: 40px;

}

.project .villa .allvilla .button #bt2
{
    display: none;
}
.project .villa .allvilla .button #bt4
{
    display: none;
}
.project .villa .allvilla .button #hminus2
{
    display: none;
}
.project .villa .allvilla .button #btsaint2
{
    display: none;
}
.project .villa .allvilla .button #btfashion2
{
    display: none;
}
.project .villa .allvilla .button #btnakar2
{
    display: none;
}
.project .villa .allvilla .button #btdore2
{
    display: none;
}
.project .villa .allvilla .button #btfullmoon2
{
    display: none;
}
.project .villa .allvilla .button #btsecret2
{
    display: none;
}
.project .villa .allvilla .button #btnoname2
{
    display: none;
}
.project .villa .allvilla .button #btvittorio2
{
    display: none;
}
.project .villa .allvilla .button #btdreamland2
{
    display: none;
}
.project .villa .allvilla .button #btroxy2
{
    display: none;
}
/* cargo */
.project .villa .allvilla .button #btcargolift2
{
    display: none;
}
.project .villa .allvilla .button #btcargo152
{
    display: none;
}
.project .villa .allvilla .button #btcargo252
{
    display: none;
}
.project .villa .allvilla .button #btcargo3002
{
    display: none;
}
.project .villa .allvilla .button #btfunicular2
{
    display: none;
}


.project .villa .allvilla .button span
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    margin-left: 21px;
    color: #FFFFFF;
    display: inline;
}


.project .villa .allvilla .ubud .wrap-img #villaubud
{
    width: 50%;
}
.project .villa .allvilla .ubud .wrap-img #villaubud #villaubud1
{
    width:48.5%; 
    height:auto;
}
.project .villa .allvilla .ubud .wrap-img #villaubud #villaubud2
{
    width:48.5%; 
    height:auto; 
    margin-left: 1.5%;
}
.project .villa .allvilla .ubud .wrap-img #villaubud #villaubud3
{
    width:48.5%;
    height:auto; 
    margin-top: 1.5%;
}
.project .villa .allvilla .ubud .wrap-img #villaubud #villaubud4
{
    width:48.5%; 
    height:auto; 
    margin-left: 1.5%; 
    margin-top: 1.5%;
}

/* mobile */

@media only screen and (max-width: 992px)
{
    .project .villa .tit .tit1 h1
    {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 180%;
        line-height: 42px;
        color: #7EAF15;
        text-align: center;
        /* margin-right: 88px;
        margin-left: 88px; */
    }
    .project .villa .tit .tit1 #pass
    {
        margin-top: 20%;
    }

    .project .villa .allvilla .button span
    {
        font-size: 18px;
    }
}

/* .project .wrapvilla .allvilla .button button
{
    display: none;
} */

