.portofolio
{
    background-color: black;
    height: 100vh;
    width: 100%;
}
.porto
{
    margin-top: 64px;
}
.porto .portnumber .num
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
}
.porto .portnumber h5
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.porto .portnumber
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.porto #num1
{
    margin-right: 110px;
}