.bportofolio
{
    background-color: black;
}
.porto
{
    margin-top: 17.7vh;
} 
.porto .portnumber .num
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
}
.porto .portnumber h5
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.porto .portnumber
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.porto #num1
{
    margin-right: 110px;
}


/* responsive */
@media only screen and (max-width: 1080px)
{
    .porto .portnumber .num
    {
        font-size: 24px;
    }
    .porto .portnumber h5
    {
        font-size: 12px;
        line-height: 16px;
    }
    .porto #num1
    {
        margin-right: 80px;
    }
}

@media only screen and (max-width: 992px)
{
    .porto .portnumber .num
    {
        font-size: 24px;
    }
    .porto .portnumber h5
    {
        font-size: 12px;
        line-height: 16px;
    }

    .porto  #num1-m
    {
        margin-right: 5vw;
    }

    .porto-m h5
    {
        margin-top: 1.2vh;
        margin-left: 1.5vw;
    }
}