.wrapline .line .line1
{
    width: 0.1%;
    background: rgba(255, 255, 255, 0.5);
    height: 100%; 
    position: absolute;
    left: -50px; 
    top: 0px;
    z-index: 1;
}

.wrapline .line #line2
{
    left: 760px; 
}
.wrapline .line #line3
{
    left: 864px; 
}
.wrapline .line #line4
{
    left: 980px; 
}


.project
{
    margin-top: 72px;
}

.project .projectitle
{
    color: white;
    margin-bottom: 48px;
}
.project .projectitle h1
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
}
.project .wraptabs .wrapnav .nav .nav-item
{
    margin-bottom: 48px;
}

.project .wraptabs .wrapnav .nav .nav-item .nav-link
{
    width: 285px;
    height: 45px;
    background: #0C0C0C;
    border: 1px solid #7EAF15;
    color: white;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.project .wraptabs .wrapnav .nav .nav-item .nav-link.active
{
    width: 285px;
    height: 45px;
    background: #7EAF15;
    border-radius: 0%;
    color: #0C0C0C;
}

.project .wraptabs .wrapnav .nav #link1
{
    margin-right: 20px;
}

.project .wrap-menu  .tab-content .tab-pane .villa h1
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: #7EAF15;
}
.project .wrap-menu .tab-content .tab-pane #natura
{
    margin-top: 120px;
}
.project .wrap-menu .tab-content .tab-pane #saint
{
    margin-top: 120px;
}
.project .wrap-menu .tab-content .tab-pane #fashion
{
    margin-top: 120px;
}

.project .wrap-menu .tab-content .tab-pane .villa .project1
{
    width: 1200px;
    margin-bottom: 48px;
}


/* ubud */
.project .wrap-menu .tab-content .tab-pane .villa .project1 .villaimg1 img
{
    width: 285px;
    height: 184px;
}

.project .wrap-menu .tab-content .tab-pane .villa .project1 .villaimg2 img
{
    width: 590px;
    height: 389px;
}
.project .wrap-menu .tab-content .tab-pane .villa .project1 .villaimg1 #villa1
{
    margin-bottom: 20px;
    margin-right: 17px;
}
.project .wrap-menu .tab-content .tab-pane .villa .project1 .villaimg1 #villa2
{
    margin-bottom: 20px;
}
.project .wrap-menu .tab-content .tab-pane .villa .project1 .villaimg1 #villa3
{
    margin-right: 17px;
}
/* end ubud */

/* natura */
.project .wrap-menu .tab-content .tab-pane .villa .project1 .naturaimg1 img
{
    width: 590px;
    height: 543px;
}

.project .wrap-menu .tab-content .tab-pane .villa .project1 .naturaimg2 img
{
    width: 590px;
    height: 261px;
}

.project .wrap-menu .tab-content .tab-pane .villa .project1 .naturaimg1 #natura1
{
    margin-right: 17px;
}
.project .wrap-menu .tab-content .tab-pane .villa .project1 .naturaimg2 #natura2
{
    margin-bottom: 20px;
}

/* end natura */

.project .wrap-menu .tab-content .tab-pane .villa .villatext
{
    width: 1200px;
    color: white;
}

.project .wrap-menu .tab-content .tab-pane .villa .villatext .villatext1 span
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

}

.project .wrap-menu .tab-content .tab-pane .villa .villatext .villatext1
{
    margin-right: 20px;
    width: 100%;
}


.project .wrap-menu .tab-content .tab-pane .villa .villatext .villatext2
{
    width: 100%;
}
.project .wrap-menu .tab-content .tab-pane .villa .villatext .villatext2 table tr td
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}
