.reviews
{
    margin-top: 20vh;
}

.reviews .title img
{
    width: 7.2vw;
    height: 3.1vh;
}
.reviews .title h1
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.reviews .reviewstext .viewtext
{
    margin-top: 94px;
}

.reviews .reviewstext .viewtext .michaelarrow
{
    position: absolute;

}

.reviews .reviewstext .viewtext .michaelarrow img
{
    margin-top: -9vh;
    margin-left: -7vw;
}
.reviews .reviewstext .viewtext .borisarrow
{
    position: absolute;
}

.reviews .reviewstext .viewtext .borisarrow img
{
    margin-top: -9vh;
    margin-left: -12vw;
}

.reviews .reviewstext .viewtext .larisaarrow
{
    position: absolute;
}

.reviews .reviewstext .viewtext .larisaarrow img
{
    margin-top: -9vh;
    margin-left: -12vw;
}



.reviews .reviewstext .viewtext h1
{
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #7EAF15;
    
}

.reviews .reviewstext #michael h2
{
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    width: 95%;
}

.reviews .reviewstext #maxinov h2
{
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    width: 94.2%;
}

.reviews .reviewstext #boris h2
{
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    width: 93.8%;
}

.reviews .reviewstext #pierre h2
{
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    width: 94%;
}

.reviews .reviewstext #larissa h2
{
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    width: 94%;
}

.reviews .reviewstext #greg h2
{
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    width: 95%;
}

.reviews .reviewstext #greg
{
    margin-bottom: 88px;
}
.reviews .reviewstext .viewtext h3
{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 24px;
}

@media only screen and (max-width:992px)
{
    .reviews .title img
    {
        width: 90.7px;
        height: 18.79px;
    }

    .reviews .reviewstext .viewtext h1
    {
        font-size: 14px;
        color: #7EAF15;
    }

    .reviews .reviewstext .viewtext h3
    {
        font-size: 14px;
    }

    .reviews .reviewstext #michael h2
    {
        font-size: 14px;
    }

    .reviews .reviewstext #maxinov h2
    {
        font-size: 14px;
        width: 94.2%;
    }
    
    .reviews .reviewstext #boris h2
    {
        font-size: 14px;
        width: 93.8%;
    }
    
    .reviews .reviewstext #pierre h2
    {
        font-size: 14px;
        width: 94%;
    }
    
    .reviews .reviewstext #larissa h2
    {
        font-size: 14px;
        width: 94%;
    }
    
    .reviews .reviewstext #greg h2
    {
        font-size: 14px;
        width: 95%;
    }


    .reviews .reviewstext .viewtext #sip
    {
        display: none;
    }
    .reviews .reviewstext .viewtext #sip2
    {
        display: none;
    }
    .reviews .reviewstext .viewtext #sip3
    {
        display: none;
    }
    .reviews .reviewstext .viewtext #sip4
    {
        display: none;
    }
    .reviews .reviewstext .viewtext #sip5
    {
        display: none;
    }
    .reviews .reviewstext .viewtext #sip6
    {
        display: none;
    }
    .reviews .reviewstext .viewtext .wrap-button
    {
        width: 100%;
    }

    .reviews .reviewstext .viewtext .wrap-button .button button
    {
        background: none;
        color: #7EAF15;;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
    }

    .reviews .reviewstext .viewtext .wrap-button .button
    {
        margin-top: 2vh;
    }
    /* .reviews .reviewstext .viewtext .wrap-button .button button .iconify
    {
        color: #FFFFFF;
    } */
}