@import url(./font.css);

@import url(./navbar.css);

@import url(./footer.css);

@import url(./porto.css);

@import url(./project.css);

html,body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}