@import url(./font.css);

@import url(./navbar.css);

@import url(./footer.css);

@import url(./porto.css);

@import url(./project.css);

@import url(./header.css);

@import url(./work.css);

@import url(./reviews.css);

@import url(./contact.css);

@import url(./news.css);

@import url(./archi.css);
@import url(./newporto.css);

html,body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.terbang--holder{
    position: fixed;
    bottom: 7%;
    right: 7%;
    
    z-index: 10;
    transition: 0.7s;
}

.terbang{
    color: white;

    height: 3.1rem;
    width: 3.1rem;

    border-radius: 100%;
    cursor: pointer;
}

.terbang > .iconify{
    height: 3rem;
    width: 3rem;

    background-color: rgba(126, 175, 21, 1);
    border-radius: 100%;
    padding: 3px;
}

.terbang:hover{
    color: white;
}